html { 
    background-size: cover;
    background-color: black;
}

h1 {
    font-family: pixel;
    src: url('font/pixel.ttf'); 
    font-size: 3em;
    margin: .2em .5em;
    color: rgba(0,0,0, 0.3);
}

body {
    height: 100%;
    font-family: pixel;
    src: url('font/pixel.ttf'); 
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/ /*BORDO*/
    font-size: 70%;
    color: rgba(255,255,255,0.9);
    text-align: left;
}

p{
    text-align: left;
}

a:link    {color:rgba(255,255,255,0.9); background-color:transparent; text-decoration:none}
a:visited {color:rgba(255,255,255,0.9); background-color:transparent; text-decoration:none}
a:hover   {color:white; background-color:transparent; text-decoration:underline}
a:active  {color:black; background-color:transparent; text-decoration:line-through}


table#logindata
{
    font-size: 17px;
    border-collapse: collapse;
    text-align: left;
    display: inline-table;
}
table#logindata td
{
    width: 200px;
}
#loginbutton
{
    width: 200px;
}
table#logindata input
{
    font-family: pixel;
    src: url('font/pixel.ttf'); 
    background-color: rgba(255,255,255,0.3);
    color: white;
}